footer {
    padding-top: 79px;
    padding-bottom: 25px;
    color: #ffffff;
    background-color: $primary;
    h1 {
        font-size: 22px;
        font-family: $lato;
        font-weight: 700;
    }
    p {
        font-size: 14px;
        font-style: $opensans;
    }
    dl {
        font-size: 15px;
        font-family: $opensans;
        dt {
            float: left;
            margin: 2px 8px 0 0;
            font-size: 20px;
            line-height: 1;
            clear: left;
            width: 18px;
            text-align: center; 
        }
        dd {
            display: block;
        }
    }
    a {
        color: #ffffff;
        &:hover {
            color: $secondary;
        }
    }
    .copyright-banner {
        font-weight: 400;
        font-size: 14px;
        font-family: $lato;
    }
}