nav {
  background-color: #00c7ff;
  text-transform: uppercase;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav img {
  height: 50px;
}

footer {
  padding-top: 79px;
  padding-bottom: 25px;
  color: #ffffff;
  background-color: #00c7ff;
}

footer h1 {
  font-size: 22px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

footer p {
  font-size: 14px;
  font-style: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer dl {
  font-size: 15px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer dl dt {
  float: left;
  margin: 2px 8px 0 0;
  font-size: 20px;
  line-height: 1;
  clear: left;
  width: 18px;
  text-align: center;
}

footer dl dd {
  display: block;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  color: #ffc000;
}

footer .copyright-banner {
  font-weight: 400;
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#login-section, #register-section {
  position: relative;
  background-image: url("/image/cover-one.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-width: 300px;
  min-height: 100%;
}

#login-section::before, #register-section::before {
  content: "";
  z-index: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

#login-section #login-form-container, #login-section #register-form-container, #register-section #login-form-container, #register-section #register-form-container {
  padding-top: 200px;
  padding-bottom: 200px;
  color: #ffffff;
  z-index: 2;
  width: 100vw;
}

#login-section #login-form-container h1, #login-section #register-form-container h1, #register-section #login-form-container h1, #register-section #register-form-container h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
}

#login-section #login-form-container form, #login-section #register-form-container form, #register-section #login-form-container form, #register-section #register-form-container form {
  width: 100%;
}

@media (min-width: 768px) {
  #login-section #login-form-container form, #login-section #register-form-container form, #register-section #login-form-container form, #register-section #register-form-container form {
    width: 562px;
  }
}

#login-section #login-form-container form input, #login-section #register-form-container form input, #register-section #login-form-container form input, #register-section #register-form-container form input {
  color: #ffffff;
}

@media (min-width: 768px) {
  #login-section #login-form-container, #login-section #register-form-container, #register-section #login-form-container, #register-section #register-form-container {
    max-width: 562px;
  }
}

#register-form-container {
  padding-top: 140px !important;
}

#login-btn, #register-btn {
  color: #ffffff;
  font-style: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#login-btn:hover, #register-btn:hover {
  color: #ffc000;
}

.custom-control-label::before {
  background-color: transparent;
}

#profile-section {
  padding-top: 120px;
  padding-bottom: 30px;
}

#profile-section .profile-info dl {
  margin: 0;
  overflow: hidden;
  line-height: 1.4;
}

#profile-section .profile-info dt {
  line-height: 1.4;
  float: left;
  margin: 0 5px 0 0;
  width: 18px;
  font-size: 17px;
  text-align: center;
}

#profile-section .contact-info {
  font-size: 24px;
}

#profile-section .contact-info a {
  margin-right: 7px;
}

#profile-section .profile-desription-content .list-feature-box {
  overflow: hidden;
  position: relative;
  border: 1px solid #e8e8e8;
  padding: 32px 27px 18px;
  margin-bottom: 37px;
}

#profile-section .profile-desription-content .list-feature-box h3 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: 700;
}

#profile-section .profile-desription-content .list-feature-box .listDefault > li {
  margin-bottom: 14px;
  padding-left: 17px;
  position: relative;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #777777;
}

#profile-section .profile-desription-content .list-feature-box .listDefault > li:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  background-color: #ffc000;
}

#profile-section .profile-desription-content .list-feature-box .listDefault > li:before {
  border-radius: 100%;
  top: 9px;
  width: 6px;
  height: 6px;
}

#news-index-wrapper {
  padding-top: 120px;
  padding-bottom: 30px;
}

#news-index-wrapper .news .news-item {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  margin-bottom: 20px;
}

#news-index-wrapper .news .news-item .news-image {
  text-align: center;
}

#news-index-wrapper .news .news-item .news-image img {
  width: 171px;
}

@media (min-width: 576px) {
  #news-index-wrapper .news .news-item .news-image img {
    width: 100%;
  }
}

#news-index-wrapper .news .news-item .news-info {
  border-top: 2px solid #ffc000;
}

#news-index-wrapper .news .news-item .news-info .news-title {
  line-height: 1.1;
}

#news-index-wrapper .news .news-item .news-info .news-title a {
  color: #000000;
  font-size: 18px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
}

#news-index-wrapper .news .news-item .news-info .news-title a:hover {
  color: #ffc000;
}

#news-index-wrapper .news .news-item .news-info .news-description {
  line-height: 1.6;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777777;
}

#news-index-wrapper .news .news-item .news-info .news-date {
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777777;
}

#news-index-wrapper .news .news-item .news-info .news-date a {
  color: #777777;
}

#news-index-wrapper .news .news-item .news-info .news-date a:hover {
  color: #ffc000;
}

#create-news-form {
  padding-top: 120px;
  padding-bottom: 30px;
}

#news-view-wrapper {
  padding-top: 120px;
  padding-bottom: 30px;
}

.loader-holder {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
}

.loader-holder .block {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.custom-btn {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #00c7ff;
  padding: 7px 12px;
}

.custom-btn:hover {
  border-color: #ffc000 !important;
  background-color: #ffc000 !important;
  color: #ffffff !important;
}

.bg-gray {
  background-color: #f6f6f6;
}

.section-title {
  position: relative;
  margin-bottom: 40px;
}

.section-title h1 {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section-title p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
}

.section-title .view-more-btn {
  float: none;
}

@media (min-width: 530px) {
  .section-title .view-more-btn {
    float: right;
  }
}

.section-title::after {
  bottom: -20px;
  position: absolute;
  display: block;
  content: "";
  border-top: 1px solid #ffc000;
  width: 39px;
  height: 1px;
}

@media (min-width: 530px) {
  .section-title::after {
    bottom: 0px;
  }
}

html, body {
  height: 100%;
  min-width: 300px;
}

#intro-section {
  position: relative;
  height: 100%;
  background-image: url("/image/cover-one.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-width: 300px;
}

#intro-section::before {
  content: "";
  z-index: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#intro-section #intro-text-wrapper {
  max-width: 562px;
  z-index: 1;
}

#intro-section h1 {
  text-shadow: 2px 2px 8px black;
  font-weight: 700;
  color: #ffffff;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  width: 100%;
}

@media (min-width: 768px) {
  #intro-section h1 {
    width: 562px;
    text-align: left;
    font-size: 44px;
  }
}

#intro-section p {
  width: 100%;
  text-shadow: 2px 2px 8px black;
  color: #ffffff;
  font-size: 18px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

@media (min-width: 768px) {
  #intro-section p {
    text-align: left;
  }
}

#mission-section {
  height: 300px;
  background-image: url("/image/mission-bg-two.png");
  position: relative;
}

#mission-section::before {
  content: "";
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.075);
  top: 0px;
  left: 0px;
}

#mission-section h1 {
  font-weight: 700;
  font-size: 36px;
}

#mission-section p {
  text-align: center;
}

#event-section .event {
  margin-bottom: 30px;
}

#event-section .event-photo {
  text-align: center;
}

#event-section .event-photo img {
  width: 221px;
}

@media (min-width: 768px) {
  #event-section .event-photo {
    text-align: right;
  }
}

#event-section .event-title {
  font-size: 16px;
  font-weight: 400;
  font-style: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  #event-section .event-title {
    font-size: 23px;
  }
}

#event-section .event-time address {
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777777;
}

#event-section .event-date time .date {
  line-height: 1;
  font-size: 45px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  color: #ffc000;
}

#event-section .event-date time .month {
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
}

#event-section .event-date time .day {
  font-size: 24px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  font-weight: 300;
}

#news-section .news .news-item {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  margin-bottom: 20px;
}

#news-section .news .news-item .news-image {
  text-align: center;
}

#news-section .news .news-item .news-image img {
  width: 171px;
}

@media (min-width: 576px) {
  #news-section .news .news-item .news-image img {
    width: 100%;
  }
}

#news-section .news .news-item .news-info {
  border-top: 2px solid #ffc000;
}

#news-section .news .news-item .news-info .news-title {
  line-height: 1.1;
}

#news-section .news .news-item .news-info .news-title a {
  color: #000000;
  font-size: 18px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
}

#news-section .news .news-item .news-info .news-title a:hover {
  color: #ffc000;
}

#news-section .news .news-item .news-info .news-description {
  line-height: 1.6;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777777;
}

#news-section .news .news-item .news-info .news-date {
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777777;
}

#news-section .news .news-item .news-info .news-date a {
  color: #777777;
}

#news-section .news .news-item .news-info .news-date a:hover {
  color: #ffc000;
}
/*# sourceMappingURL=style.css.map */