$primary : rgba(0,199,255,1);
$secondary: #ffc000;
$commonShadow: 2px 2px 8px black;
$lato : "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$opensans : "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@import './breakpoints';
@import './mixins';
@import './navbar';
@import './footer';
@import './auth';
@import './profile';
@import './news';

.loader-holder {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
}
.loader-holder .block {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.custom-btn {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid $primary;
    padding: 7px 12px;
    &:hover {
        border-color: $secondary!important;
        background-color: $secondary!important;
        color: #ffffff!important;
    }
}
.bg-gray {
    background-color: #f6f6f6;
}
.section-title {
    position: relative;
    margin-bottom: 40px;
    h1 {
        display: inline-block;
        font-size: 32px;
        font-weight: 700;
        font-family: $lato;
    }
    p {
        font-family: $opensans;
        display: inline-block;
    }
    .view-more-btn {
        float: none;
        @include rwd(530) {
            float: right;
        }
    }
    &::after {
        bottom: -20px;
        position: absolute;
        display: block;
        content: "";
        border-top: 1px solid $secondary;
        width: 39px;
        height: 1px;
        @include rwd(530) {
            bottom: 0px;
        }
    }
}

html, body {
    height: 100%;
    min-width: 300px;
}

#intro-section {
    position: relative;
    height: 100%;
    background-image: url('/image/cover-one.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-width: 300px;
    &::before {
        content: "";
        z-index: 0;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }
    #intro-text-wrapper {
        max-width: 562px;
        z-index: 1;
    }
    h1 {
        text-shadow: $commonShadow;
        font-weight: 700;
        color: #ffffff;
        font-family: $lato;
        text-align: center;
        font-size: 30px;
        width: 100%;
        @include md {
            width: 562px;
            text-align: left;
            font-size: 44px;
        }
    }
    p {
        width: 100%;
        text-shadow: $commonShadow;
        color: #ffffff;
        font-size: 18px;
        font-family: $opensans;
        text-align: center;
        @include md {
            text-align: left;
        }
    }
}
#mission-section {
    height: 300px;
    background-image: url('/image/mission-bg-two.png');
    position: relative;
    &::before {
        content: "";
        z-index: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 0%, 0.075);
        top: 0px;
        left: 0px;
    }
    h1 {
        font-weight: 700;
        font-size: 36px;
    }
    p {
        text-align: center;
    }
}
#event-section {
    .event {
        margin-bottom: 30px;
    }
    .event-photo {
        text-align: center;
        img {
            width: 221px;
        }
        @include md {
            text-align: right;
        }
    }
    .event-title {
        font-size: 16px;
        font-weight: 400;
        font-style: $lato;
        @include md {
            font-size: 23px;
        }
    }
    .event-time {
        address {
            font-size: 14px;
            font-family: $opensans;
            color: #777777;
        }
    }
    .event-date {
        time {
            .date {
                line-height: 1;
                font-size: 45px;
                font-family: $opensans;
                display: inline-block;
                color: $secondary;
            }
            .month {
                font-size: 14px;
                font-family: $lato;
                display: inline-block;
            }
            .day {
                font-size: 24px;
                font-family: $lato;
                display: inline-block;
                font-weight: 300;
            }
        }
    }
}
#news-section {
    .news {
        .news-item {
            background-color: #ffffff;
            border: 1px solid #ebebeb;
            margin-bottom: 20px;
            .news-image {
                text-align: center;
                img {
                    width: 171px;
                    @include sm {
                        width: 100%;
                    }
                }
            }
            .news-info {
                border-top: 2px solid $secondary;
                .news-title {
                    line-height: 1.1;
                    a {
                        color: #000000;
                        font-size: 18px;
                        font-family: $lato;
                        line-height: 1.1;
                        &:hover {
                            color: $secondary;
                        }
                    }
                }
                .news-description {
                    line-height: 1.6;
                    font-size: 14px;
                    font-family: $opensans;
                    color: #777777;
                }
                .news-date {
                    font-size: 12px;
                    font-family: $opensans;
                    color: #777777;
                    a {
                        color: #777777;
                        &:hover {
                            color: $secondary;
                        }
                    }
                }
            }
        }
    }
}
